DB_SOURCE=
SERVER_ADDRESS=0.0.0.0:8080
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=

PROXY_SERVER_ADDRESS=localhost
LOAD_BALANCE_CHECK_TIME=30
LOAD_BALANCE_HEALTH_CHECK_URL=/actuator/health

COMPOSE_FILE_PATH=
COMPOSE_PROJECT_DIR=
COMPOSE_SERVICE_NAME=app

MIN_INSTANCES=1 
MAX_INSTANCES=8
SCALE_OUT_THRESHOLD=10
SCALE_IN_THRESHOLD=2
SCALE_COOLDOWN_SECONDS=90